@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  background-color: whitesmoke;
  align: center;
  color: black;
  /* max-width: 500px;*/
  margin: auto;
  padding-top: 5%;
  padding-left: 20%;
  padding-right:20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body input{
  display: block;
  font-size:11px;
  padding:4px 2px;
  border:solid 1px #aacfe4;
  width:70px;
  margin:2px 0 20px 10px;
}

body button
{
  width: 50px;
  height: 50px;
  background-color: lightslategrey;
  color: white;
  font-weight:bold;
}

body button:hover
{
  background-color: #333;
  color: white;
  font-weight:bold;
}

body img
{

}

/*table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;

}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  text-align: Left;
  background-color: #4CAF50;
  color: white;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}*/
map area #1:hover
{
  opacity: 0.5;
  color: red;
}
.mygallery, .choosehouse{
  width: 100%;
  height:50%;
  float: left;
}
.myText
{

}
.bookNow
{
  float: right;
  width: 48%;
  height: 300px;
}

.bookNow img
{
  float: left;
  width: 100%;
  height: 250px;
}

.bookNow button
{
  float: right;
  width: 35%;
  height: 50px;
}
.bookNow span
{
   float: left;
  width: 65%;
  padding-top: 12px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.lineBreak{
display: table;
}

.image-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.image-container-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pdfImage{
  width: 100%;
}
